body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(bg.jpeg);
    background-size: cover;
    background-position: center;
    color: #333;

}

h1{
    color: maroon;
    font-size: 90px;
    font-family: Times 'Times New Roman', Times, serif
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgb(140, 68, 68);
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
    margin-right:10px;
}

main.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

.login-section {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-section h2 {
    margin-bottom: 20px;
}

.login-section button {
    margin: 10px;
    padding: 10px 20px;
    background-color:rgb(227, 227, 161);
    color:rgb(49, 23, 23);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-section form {
    margin: 20px 0;
}

.login-section input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    padding: 10px;
    color: maroon;
    position: bottom;
    bottom: 0;
    width: 100%;
}
